input:invalid {
  border: dashed 1px red;
}

input:valid {
  border: solid 1px green;
  background: url(check.svg);
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 0px 12px;

}

button {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
